*{
    color:#939396;
}
body {
    font-style: "Helvetica", "Verdana", sans-serif;
    background-color: #1d2475;
    background-image: url(https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/2/cse326bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

h1 {
    font-size: 40px;
    color:#F7931E;
}

.definition {
    font-size: 70%;
    font-weight: bold;
    
}




a {
    color:#FF4F4F;
}

em {
    color:#FFF86B;
}

#quote {
    color:#D1DFEB;
}
